<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}BookLib{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    {% endblock %}

</head>
<body>

{% block header %}
    <header class="container">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
            <div class="container">
                <a class="navbar-brand" href="{{ path('homepage') }}">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-book fa-green fa-stack-1x"></i>
                </span>
                    BookLib
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarDefault"
                        aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarDefault">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active"><a class="nav-link" href="{{ path('homepage') }}">Accueil</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Concept</a></li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true"
                               aria-expanded="false">Catégories <span class="caret"></span></a>
                            {{ render(controller('App\\Controller\\CategoryController::dropdown')) }}
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('author_new') }}">Ajouter un auteur</a>
                        </li>
                        {% if is_granted('ROLE_ADMIN') %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('box_index') }}">
                                    Afficher les boites
                                </a>
                            </li>
                        {% endif %}

                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">
                            <span class="fa-stack">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-user fa-stack-1x"></i>
                            </span>
                                {% if app.user %}
                                    {{ app.user.email }}
                                {% else %}
                                    Mon compte
                                {% endif %}
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                {% if app.user %}
                                    <li>
                                        <a class="dropdown-item" href="{{ path('app_logout') }}">
                                            <i class="fa fa-sign-out"></i>
                                            Se déconnecter
                                        </a>
                                    </li>
                                {% else %}
                                    <li>
                                        <a class="dropdown-item" href="{{ path('app_login') }}">
                                            <i class="fa fa-sign-in"></i>
                                            Se connecter
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="{{ path('user_registration') }}">
                                            <i class="fa fa-user-plus"></i>
                                            Créer un compte
                                        </a>
                                    </li>
                                {% endif %}

                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    </header>
{% endblock %}

<main>
    {% block body %}{% endblock %}
</main>

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    <script async defer src="https://maps.googleapis.com/maps/api/js?callback=initBooksMap"></script>
{% endblock %}

{% block footer %}
    <footer class="site-footer">
        <i class="fa fa-copyright"></i> BookLib 2018
    </footer>
{% endblock %}


</body>
</html>
